/**
CSS pour CESSTEX
AFFINITIC avril 2014

style pour le sous-site ISM

**/

@font-face {
font-family:'blairmd';
src:url('../font/blairmditctt_medium-webfont.eot');
src:url('../font/blairmditctt_medium-webfont.eot?#iefix') format('embedded-opentype'),
     url('../font/blairmditctt_medium-webfont.woff') format('woff'),
     url('../font/blairmditctt_medium-webfont.ttf') format('truetype'),
     url('../font/blairmditctt_medium-webfont.svg#blairmditc_ttmedium') format('svg');
font-weight:normal;
font-style:normal;
}

@font-face {
font-family:'mondaregular';
src:url('../font/monda-regular-webfont.eot');
src:url('../font/monda-regular-webfont.eot?#iefix') format('embedded-opentype'),
     url('../font/monda-regular-webfont.woff') format('woff'),
     url('../font/monda-regular-webfont.ttf') format('truetype'),
     url('../font/monda-regular-webfont.svg#mondaregular') format('svg');
font-weight:normal;
font-style:normal;
}

@font-face {
font-family:'lobster';
src:url('../font/Lobster-webfont.eot');
src:url('../font/Lobster-webfont.eot?#iefix') format('embedded-opentype'),
     url('../font/Lobster-webfont.woff2') format('woff2'),
     url('../font/Lobster-webfont.woff') format('woff'),
     url('../font/Lobster-webfont.ttf') format('truetype'),
     url('../font/Lobster-webfont.svg#lobster_1.4regular') format('svg');
font-weight:normal;
font-style:normal;
}


body{
margin:0px;
padding:0px;
font-family:"Lucida Grande", verdana, arial, sans-serif;
color:#444;
/*background-color:#00202b;*/
background:rgb(35,83,138); /* Old browsers */
background:-moz-linear-gradient(top,  rgba(35,83,138,1) 0%, rgba(167,207,223,1) 61%, rgba(167,207,223,1) 100%); /* FF3.6+ */
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(35,83,138,1)), color-stop(61%,rgba(167,207,223,1)), color-stop(100%,rgba(167,207,223,1))); /* Chrome,Safari4+ */
background:-webkit-linear-gradient(top,  rgba(35,83,138,1) 0%,rgba(167,207,223,1) 61%,rgba(167,207,223,1) 100%); /* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top,  rgba(35,83,138,1) 0%,rgba(167,207,223,1) 61%,rgba(167,207,223,1) 100%); /* Opera 11.10+ */
background:-ms-linear-gradient(top,  rgba(35,83,138,1) 0%,rgba(167,207,223,1) 61%,rgba(167,207,223,1) 100%); /* IE10+ */
background:linear-gradient(to bottom,  rgba(35,83,138,1) 0%,rgba(167,207,223,1) 61%,rgba(167,207,223,1) 100%); /* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#23538a', endColorstr='#a7cfdf',GradientType=0 ); /* IE6-9 */
}

.stop-float{
clear:both;
}


#ism-banner-numerique{
margin:auto;
margin-top:10px;
width:745px;
}

header#header-ism #top-black{
height:44px;
background-color:#000;
color:#fff;
}

header#header-ism #top-content{
width:1100px;
margin:auto;
}

header#header-ism #top-nom-ecole,
header#header-ism #top-black #top-enseignement-secondaire,
header#header-ism #top-contact-plan,
header#header-ism #top-connexion,
header#header-ism #top-black #top-cess-link{
position:relative;
}

header#header-ism #top-black #top-connexion #portal-personaltools{
border-radius:18px;
background-color:transparent;
}

header#header-ism #top-black #top-connexion #portal-personaltools a{
color:rgba(250,250,250, 0.6) !important;
}

header#header-ism #top-black #top-connexion #portal-personaltools a:hover{
color:rgba(250,250,250, 1) !important;
}

header#header-ism #top-black #top-connexion #portal-personaltools.actionMenu .actionMenuContent {
position:absolute;
right:14px;
top:18px;
z-index:5;
display:none;
height:auto;
margin:0;
padding:0;
}

header#header-ism #top-black #top-connexion #portal-personaltools.actionMenu .actionMenuContent ul {
-moz-border-bottom-colors:none;
-moz-border-left-colors:none;
-moz-border-right-colors:none;
-moz-border-top-colors:none;
background:none repeat scroll 0 0 #DEE7EC;
border-color:#8CACBB;
border-image:none;
border-width:0px 1px 1px 1px;
border-style:solid;
border-color:#8CACBB;
border-radius:0px 0px 8px 8px;
display:block;
margin:0;
padding:0px 4px 0px 4px;
}

header#header-ism #top-black #top-connexion #portal-personaltools.actionMenu .actionMenuContent ul li a{
color:#557583 !important;
}

header#header-ism #top-black #top-connexion #portal-personaltools.actionMenu .actionMenuContent ul li a:hover{
background-color:#8CACBB;
color:#fff !important;
}

header#header-ism #top-black #top-nom-ecole{
left:10px;
top:6px;
width:400px;
font-size:1.5em;
font-family:'blairmd', sans-serif;
letter-spacing:4px;
}

header#header-ism #top-black #top-enseignement-secondaire{
top:4px;
left:-2px;
width:355px;
color:#ddd;
font-family:'blairmd';
font-size:10pt;
font-weight:none;
text-align:center;
}

header#header-ism #top-contact-plan{
left:435px;
top:-25px;
width:290px;
font-size:0.8em;
}

header#header-ism #top-contact-plan li a{
color:rgba(250,250,250, 0.6);
}

header#header-ism #top-contact-plan li a:hover{
color:rgba(250,250,250, 1);
}


header#header-ism #top-contact-plan li{
display:inline;
margin:0px 10px;
}

header#header-ism #top-black #top-cess-link{
left:750px;
top:-38px;
width:360px;
font-family:'blairmd';
font-size:11pt;
text-align:center;
}

header#header-ism #top-black #top-cess-link a{
color:#bbb;
text-decoration:none;
}

header#header-ism #top-black #top-cess-link a:hover{
color:#fff;
}

header#header-ism{
min-height:0px;
}

header#header-ism #header-content{
width:1100px;
margin:auto;
}

header#header-ism #header-content #logo,
header#header-ism #header-content #top-connexion{
float:left;
}

header#header-ism #header-content #search-engine-theme{
float:right;
margin-right:40px;
}

header#header-ism #header-content #top-connexion,
header#header-ism #header-content #search-engine-theme{
margin-top:18px;
}

header#header-ism #header-content #logo{
background:url(../images/ism_logo.png) no-repeat;
width:174px;
height:99px;
margin-left:48px;
}

header#header-ism #header-content #logo a{
display:block;
width:174px;
height:93px;
}

header#header-ism #header-content #top-connexion{
width:160px;
font-size:0.8em;
margin-left:52px;
}

header#header-ism #header-content #top-connexion,
header#header-ism #header-content #search-engine-theme{
width:250px;
height:50px;
background-color:rgba(255,255,255,0.3);
border-radius:18px;
box-shadow:1px 1px 1px rgba(255, 255, 255, 0.6);
border-left:1px solid #555;
border-top:1px solid #555;
}

header#header-ism #header-content #top-connexion ul,
header#header-ism #header-content #top-connexion #portal-personaltools{
width:150px;
margin:auto;
margin-top:16px;
}

header#header-ism #header-content #top-connexion .actionMenu .actionMenuContent ul {
-moz-border-bottom-colors:none;
-moz-border-left-colors:none;
-moz-border-right-colors:none;
-moz-border-top-colors:none;
background:rgba(255,255,255,0.9) none repeat scroll 0 0;
border-color:#888;
border-image:none;
border-style:none solid solid solid;
border-width:1px;
border-radius:0px 0px 5px 5px;
display:block;
margin:-1px 0 0;
padding:0px;
}

header#header-ism #header-content #top-connexion #portal-personaltools li a {
color:#436976;
padding:0 9px 0 0;
text-decoration:none;
}

header#header-ism #header-content #top-connexion #portal-personaltools li a:hover {
background-color:rgba(109, 142, 178, 1);
color:#fff;
}

header#header-ism #header-content #search-engine-theme form{
margin:8px 0px 0px 10px;
}

div#search-engine-theme form#livesearch0 div.LSBox input.searchButton{
margin-left:10px;
}

div#search-engine-theme form#livesearch0 div.LSBox div.searchSection{
font-size:0.8em;
}

div#search-engine-theme form#livesearch0 div.LSBox div.searchSection label{
padding-left:4px;
}


#wrapper-ism{
width:1100px;
margin:auto;
border:1px solid #eee;
border-radius:18px;
background-color:#eee;
box-shadow:8px 0px 24px rgba(50,50,50,0.5),
           -8px 0px 24px rgba(50,50,50,0.5);
}

#wrapper-ism #ism-slider{}

#wrapper-ism #main-content{
}

#wrapper-ism #main-content #left-column{
float:left;
width:250px;
min-height:599px;
padding-top:10px;
border-radius:18px 0px 0px 0px;
background:rgb(229,229,229); /* Old browsers */
background:-moz-linear-gradient(top,  rgba(229,229,229,1) 1%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 52%, rgba(255,255,255,1) 54%, rgba(229,229,229,1) 100%); /* FF3.6+ */
background:-webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(229,229,229,1)), color-stop(47%,rgba(255,255,255,1)), color-stop(52%,rgba(255,255,255,1)), color-stop(54%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
background:-webkit-linear-gradient(top,  rgba(229,229,229,1) 1%,rgba(255,255,255,1) 47%,rgba(255,255,255,1) 52%,rgba(255,255,255,1) 54%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top,  rgba(229,229,229,1) 1%,rgba(255,255,255,1) 47%,rgba(255,255,255,1) 52%,rgba(255,255,255,1) 54%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
background:-ms-linear-gradient(top,  rgba(229,229,229,1) 1%,rgba(255,255,255,1) 47%,rgba(255,255,255,1) 52%,rgba(255,255,255,1) 54%,rgba(229,229,229,1) 100%); /* IE10+ */
background:linear-gradient(to bottom,  rgba(229,229,229,1) 1%,rgba(255,255,255,1) 47%,rgba(255,255,255,1) 52%,rgba(255,255,255,1) 54%,rgba(229,229,229,1) 100%); /* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

#wrapper-ism #main-content #main-column{
float:right;
width:845px;
min-height:599px;
border-left:1px solid rgba(150,150,150,0.5);
border-radius:0px 18px 0px 0px;
background-color:#eee;
}

div#wrapper-ism div#main-content div#main-column div div#content h1{
font-family:"mondaregular";
font-size:1.7em;
letter-spacing:0;
}

div#wrapper-ism div#main-content div#main-column div div#content a:hover{
color:#5fd2c7 !important;
}

#wrapper-ism #main-content #main-column #top-block,
#wrapper-ism #main-content #main-column #bottom-block{
/*border:1px solid #666;*/
width:95%;
height:280px;
margin:auto;
margin-top:10px;
margin-bottom:10px;
}

#wrapper-ism #main-content #main-column #top-block h2,
#wrapper-ism #main-content #main-column #bottom-block h2{
border-radius:18px 0px 0px 18px;
font-size:9pt;
text-align:right;
padding-right:5px;
height:30px;
line-height:30px;
margin-left:-20px;
}

#wrapper-ism #main-content #main-column #top-block #a-la-une,
#wrapper-ism #main-content #main-column #top-block #infos-de-la-semaine,
#wrapper-ism #main-content #main-column #bottom-block #agenda,
#wrapper-ism #main-content #main-column #bottom-block #espace-interactif{
border-radius:8px;
height:275px;
width:350px;
}

#wrapper-ism #main-content #main-column #top-block #a-la-une,
#wrapper-ism #main-content #main-column #bottom-block #agenda{
float:left;
}

#wrapper-ism #main-content #main-column #top-block #infos-de-la-semaine,
#wrapper-ism #main-content #main-column #bottom-block #espace-interactif{
float:right;
}

#wrapper-ism #main-content #main-column #top-block #a-la-une{
border:2px solid #fd88a5;
background-color:#f8e9ee;
}

#wrapper-ism #main-content #main-column #top-block #a-la-une h2{
background:rgb(243,197,189); /* Old browsers */
background:-moz-linear-gradient(top,  rgba(243,197,189,1) 0%, rgba(232,108,87,1) 50%, rgba(234,40,3,1) 51%, rgba(255,102,0,1) 75%, rgba(199,34,0,1) 100%); /* FF3.6+ */
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,197,189,1)), color-stop(50%,rgba(232,108,87,1)), color-stop(51%,rgba(234,40,3,1)), color-stop(75%,rgba(255,102,0,1)), color-stop(100%,rgba(199,34,0,1))); /* Chrome,Safari4+ */
background:-webkit-linear-gradient(top,  rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%); /* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top,  rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%); /* Opera 11.10+ */
background:-ms-linear-gradient(top,  rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%); /* IE10+ */
background:linear-gradient(to bottom,  rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%); /* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#c72200',GradientType=0 ); /* IE6-9 */
}

#wrapper-ism #main-content #main-column #top-block #infos-de-la-semaine{
border:2px solid #80f079;
background-color:#e3f2e3;
}

#wrapper-ism #main-content #main-column #bottom-block #agenda{
border:2px solid #f5af5d;
background-color:#f7eee5;
}

#wrapper-ism #main-content #main-column #bottom-block #espace-interactif{
border:2px solid #62a6f8;
background-color:#e4edf7
}

#info-generale-bloc-sup,
#info-generale-bloc-inf{
width:820px;
height:380px;
margin:20px auto;
}

#a-la-une,
#info-de-la-semaine,
#agenda,
#espace-interactif{
width:360px;
height:340px;
margin:5px 10px;
border-radius:18px;
box-shadow:8px 8px 16px rgba(50,50,50,0.5);
padding:5px 10px 14px 10px;
font-size:0.8em;
}

#a-la-une h2,
#info-de-la-semaine h2,
#agenda h2,
#espace-interactif h2{
text-align:right;
padding-right:5px;
font-family:'blairmd';
font-size:14pt;
font-weight:none;
color:#184155;
text-shadow:1px 1px 1px rgba(250,250,250, 0.8);
border-bottom:none;
background:-moz-linear-gradient(top,  rgba(255,255,255,0.4) 0%, rgba(243,243,243,0.4) 50%, rgba(237,237,237,0.4) 51%, rgba(255,255,255,0.4) 100%); /* FF3.6+ */
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.4)), color-stop(50%,rgba(243,243,243,0.4)), color-stop(51%,rgba(237,237,237,0.4)), color-stop(100%,rgba(255,255,255,0.4))); /* Chrome,Safari4+ */
background:-webkit-linear-gradient(top,  rgba(255,255,255,0.4) 0%,rgba(243,243,243,0.4) 50%,rgba(237,237,237,0.4) 51%,rgba(255,255,255,0.4) 100%); /* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top,  rgba(255,255,255,0.4) 0%,rgba(243,243,243,0.4) 50%,rgba(237,237,237,0.4) 51%,rgba(255,255,255,0.4) 100%); /* Opera 11.10+ */
background:-ms-linear-gradient(top,  rgba(255,255,255,0.4) 0%,rgba(243,243,243,0.4) 50%,rgba(237,237,237,0.4) 51%,rgba(255,255,255,0.4) 100%); /* IE10+ */
background:linear-gradient(to bottom,  rgba(255,255,255,0.4) 0%,rgba(243,243,243,0.4) 50%,rgba(237,237,237,0.4) 51%,rgba(255,255,255,0.4) 100%); /* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#66ffffff', endColorstr='#66ffffff',GradientType=0 ); /* IE6-9 */
}

#a-la-une,
#agenda{
float:left;
}

#info-de-la-semaine,
#espace-interactif{
float:right;
}

#a-la-une{
border:1px solid #fc85a2;
background-color:#f6e7eb;
}

#info-de-la-semaine{
border:1px solid #7ff078;
background-color:#e1f0e1;
}

#agenda{
border:1px solid #f6b161;
background-color:#f6ede3;
}

#espace-interactif{
border:1px solid #61a6f9;
background-color:#e3edf7;
color:#00518f;
}

#espace-interactif ul{
margin-left:100px;
}

#espace-interactif img{
display:block;
margin:auto;
}

div.info-generale-box{
height:280px;
}

section.info-generale-content{
height:280px;
overflow:auto;
}

article.ismnews-content,
article.ismevents-content{
line-height:normal;
}

article.ismnews-content a,
article.ismevents-content a,
div.info-generale-box a,{
display:block;
border-radius:6px;
}

article.ismnews-content a:hover,
article.ismevents-content a:hover,
div.info-generale-box a:hover{
text-decoration:none;
background-color:rgba(250,250,250, 0.5);
}

article.ismnews-content h3.ismnews-title,
article.ismevents-content h3.ismevents-title{
margin:0;
padding-left:3px;
}

article.ismnews-content-a-la-une h3.ismnews-title-a-la-une{
text-align:center;
margin-bottom:4px;
color:#d60014 !important;
}

article.ismnews-content h3.ismnews-title{
color:#005c00;
}

article.ismevents-content h3.ismevents-title{
color:#bc7a30;
}

article.ismnews-content p{
padding:3px 5px 0px 9px;
height:60px;
overflow:hidden;
text-overflow:ellipsis;
}

article.ismnews-content-a-la-une p{
padding:3px 5px 0px 9px;
overflow:hidden;
}


article.ismevents-content p{
padding:3px 5px 0px 9px;
height:13px;
overflow:hidden;
}

article.ismnews-content .ismnews-date,
article.ismevents-content .ismevents-date{
color:#20a3af;
padding-left:9px;
}

article p.ismnews-description-a-la-une{
font-weight:bold;
font-size:1em;
padding:0px;
}

.ismnews-contenu-a-la-une{
height:240px;
overflow:hidden;
text-align:justify;
margin-bottom:11px;
}

article.ismnews-content,
article.ismevents-content{
border-bottom:1px dotted #999;
}

article p.ismnews-description{
overflow:auto;
}


footer.footer-info-generale{
position:relative;
top:4px;
border-top:1px solid #ccc;
padding:2px;
}

div.bouton-ajouter,
div.bouton-suite {
height:20px;
border:1px solid #DEDEDE;
border-radius:8px;
background:rgb(255,255,255); /* Old browsers */
background:-moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6+ */
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
background:-webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
background:-ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* IE10+ */
background:linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

div.bouton-ajouter a,
div.bouton-suite a{
text-decoration:none;
border-bottom:0px  !important;
}

div.bouton-suite {
float:right;
width:30px;
font-size:15px;
font-weight:bold;
line-height:17px;
}

div.bouton-suite a:after {
content:"➜";
}

div.bouton-suite a {
display:inline-block;
text-align:center;
height:20px;
width:30px;
/*transform:rotate(180deg);*/
}

div.bouton-suite a:hover,
div.bouton-ajouter a:hover{
color:#ff64ff !important;
}

div.bouton-ajouter{
float:left;
width:80px;
font-family:"mondaregular";
font-size:1.2em;
text-align:center;
text-transform:capitalize;
}

div.bouton-ajouter a{
display:inline-block;
width:80px;
}


/*** VALVE PROF -Dossier Salle des profs ***/
#ism-valve-prof{
width:600px;
height:460px;
margin:auto;
margin-bottom:15px;
border-radius:1.5em;
/*
box-shadow:5px 5px 10px rgba(50,50,50,0.5),
            0px 0px 26px rgba(50,50,50,0.5) inset;
*/
box-shadow:5px 5px 10px rgba(50,50,50,0.5);
background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjODA5OGI5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjYTRjN2ZjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NmZTBmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background:-moz-linear-gradient(45deg,  #40a65f 0%, #75f89d 50%, #e4feec 100%); /* FF3.6+ */
background:-webkit-gradient(linear, left bottom, right top, color-stop(0%,#40a65f), color-stop(50%,#75f89d), color-stop(100%,#e4feec)); /* Chrome,Safari4+ */
background:-webkit-linear-gradient(45deg,  #40a65f 0%,#75f89d 50%,#e4feec 100%); /* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(45deg,  #40a65f 0%,#75f89d 50%,#e4feec 100%); /* Opera 11.10+ */
background:-ms-linear-gradient(45deg,  #40a65f 0%,#75f89d 50%,#e4feec 100%); /* IE10+ */
background:linear-gradient(45deg,  #40a65f 0%,#75f89d 50%,#e4feec 100%); /* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#40a65f', endColorstr='#e4feec',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

#ism-valve-prof-content{
position:absolute;
z-index:10;
height:345px;
width:500px;
}

#ism-valve-prof h2{
position:relative;
left:-30px;
top:200px;
-webkit-transform:rotate(-90deg);
-moz-transform:rotate(-90deg);
-ms-transform:rotate(-90deg);
-o-transform:rotate(-90deg);
width:100px;
border-bottom:none;
font-size:2em;
font-weight:bold;
letter-spacing:8px;
color:#060;
text-shadow:1px 1px 1px rgba(255,255,255,0.8);
}

.info-prof-wrapper{
position:relative;
left:40px;
top:-40px;
width:540px;
height:420px;
border-left:1px solid #ccc;
padding:3px 10px 3px 10px;
}

article.ismnews-valve-prof-content{
height:80px;
overflow:hidden;
background-color:rgba(250,250,250,0.6);
margin:4px 0px;
border-radius:5px;
padding:0px 6px;
}

article.ismnews-valve-prof-content a{
border-bottom:0px !important;
color:#040 !important;
}

article.ismnews-valve-prof-content a:hover{
color:#080 !important;
}


.ismnews-valve-prof-title{
text-shadow:1px 1px 1px rgba(255,255,255,0.9);
margin-bottom:8px;
color:#333 !important;
font-size:1.1em;
}

.ismnews-valve-prof-description{
font-weight:bold;
font-size:0.9em;
padding-left:14px;
}

.ismnews-valve-prof-contenu{
display:inline-block;
font-size:0.8em;
line-height:normal;
padding-left:18px;
width:510px;
}


footer.footer-valve-prof{
position:relative;
top:2px;
border-top:1px solid #ccc;
padding:2px;
}

#ism-dossier-salle-prof{
width:750px;
margin:auto;
border-radius:20px;
padding:20px;
box-shadow:5px 5px 10px rgba(50,50,50,0.5),
            0px 0px 26px rgba(50,50,50,0.5) inset;
background:#a6406f; /* Old browsers */
background:-moz-linear-gradient(45deg,  #a6406f 0%, #fdcee3 50%, #ffe4e0 100%); /* FF3.6+ */
background:-webkit-gradient(linear, left bottom, right top, color-stop(0%,#a6406f), color-stop(50%,#fdcee3), color-stop(100%,#ffe4e0)); /* Chrome,Safari4+ */
background:-webkit-linear-gradient(45deg,  #a6406f 0%,#fdcee3 50%,#ffe4e0 100%); /* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(45deg,  #a6406f 0%,#fdcee3 50%,#ffe4e0 100%); /* Opera 11.10+ */
background:-ms-linear-gradient(45deg,  #a6406f 0%,#fdcee3 50%,#ffe4e0 100%); /* IE10+ */
background:linear-gradient(45deg,  #a6406f 0%,#fdcee3 50%,#ffe4e0 100%); /* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6406f', endColorstr='#ffe4e0',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

#ism-dossier-salle-prof table{
margin:auto;
width:100%;
}

#ism-dossier-salle-prof table td{
text-align:center;
}




/*** FOOTER ***/
footer#footer-ism{
min-height:150px;
margin-bottom:20px;
font-size:8pt;
background:rgb(136,148,147); /* Old browsers */
background:-moz-linear-gradient(top,  rgba(136,148,147,1) 0%, rgba(85,92,92,1) 100%); /* FF3.6+ */
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(136,148,147,1)), color-stop(100%,rgba(85,92,92,1))); /* Chrome,Safari4+ */
background:-webkit-linear-gradient(top,  rgba(136,148,147,1) 0%,rgba(85,92,92,1) 100%); /* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top,  rgba(136,148,147,1) 0%,rgba(85,92,92,1) 100%); /* Opera 11.10+ */
background:-ms-linear-gradient(top,  rgba(136,148,147,1) 0%,rgba(85,92,92,1) 100%); /* IE10+ */
background:linear-gradient(to bottom,  rgba(136,148,147,1) 0%,rgba(85,92,92,1) 100%); /* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#889493', endColorstr='#555c5c',GradientType=0 ); /* IE6-9 */
}

footer#footer-ism #footer-adresse,
footer#footer-ism #footer-menu{
float:left;
width:280px;
min-height:140px;
color:#ddd;
border-right:1px solid rgba(200,200,200,0.3);
}

footer#footer-ism #footer-adresse{
margin-left:300px;
padding-top:5px;
}

footer#footer-ism #footer-menu{
margin-left:80px;
}

