
/* Centre scolaire Saint-Exupéry
/* Made by Affinitic.be
/*

css style embarqué dans le plone pour l'éditeur tinyMCE
via le plone_cotrol_panel

*/



/*** EXTERNAL EDITEUR ***/

/*** font ***/
.font-crayonematernel{
font-family: "crayonematernel", cursive;
}

.font-desyrel{
font-family: "desyrelregular", cursive;
}

.font-lobster{
font-family: "lobster", cursive;
}

.font-monda{
font-family: "mondaregular", sans-serif;
}

.font-blairmd{
font-family: "blairmd", sans-serif;
}



/*** couleur ***/
.fond-jaune{
background-color:#f9f7c7;
}

.fond-bleu{
background-color:#dae4fa;
}

.fond-blanc{
background-color:#fff;
}

.plain{
width:95%;
}

.noir{
color:rgb(0,0,0);
}

.bleuA{
color:rgb(94,187,244);
}

.bleuB{
color:rgb(22,139,217);
}

.grisBleuC{
color:rgb(37,108,154);
}

.jauneD{
color:rgb(255,237,152);
}

.orangeE{
color:rgb(254,214,106);
}

.grisG{
color:rgb(155,155,155);
}

.grisH{
color:rgb(102,102,102);
}

.grisBleuI{
color:rgb(66,90,146);
}

.bleuClairJ{`
color:rgb(172,247,254);
}

.grisBleuK{
color:rgb(47,77,96);
}


/*** IST ***/
.fond-transparent{
background-color:transparent !important;
}

.cel-fond-blanc{
background-color:#fff;
}

.cel-fond-transparent{
background-color:transparent;
}

.cel-fond-bleu{
background-color:#ecf7fd;
}

.image-gauche{
float:left;
margin:3px 5px 5px 3px;
}

.image-droite{
float:right;
margin:3px 3px 5px 5px;
}

.texte-justifie{
text-align:justify;
}



/*** ISM - ECOLE FONDAMENTALE ST MARIE ***/
.titre-rose-maternel{
font-family:lobster,Verdana,Lucida,Helvetica,Arial,sans-serif;
color:#e11268;
border-bottom:none;
font-size:2.2em;
}

.texte-orange-maternel{
font-family:lobster,Verdana,Lucida,Helvetica,Arial,sans-serif;
color:#ff6800;
border-bottom:none;
font-size:1.2em;
}



