/*
Centre scolaire Saint-Exupéry
Made by Affinitic.be

CSS section IST

*/
/**** CONTENU GENERAL ****/
body.section-institut-sainte-therese div#content h1.documentFirstHeading,
body.section-institut-sainte-therese div#content h1,
body.section-institut-sainte-therese div#content h2{
border-bottom:0px;
color:#27ace7;
}



/**** HOMEPAGE FOLDER-VIEW ****/
.ist-info-home-page-cel01{
padding-left:4px;
}

.ist-info-home-page-cel02{
padding-left:6px;
}

.ist-info-home-page-cel03{
padding-left:6px;
}

#ist-info-home-page-content{
width:477px;
height:105px;
background-color:#259de0;
padding:5px;
color:#d2fafc;
font-size:18pt;
overflow:auto;
}



/*** LISTING NEWS IST ***/
.ist-event{
margin:10px 0px;
padding:3px;
border-spacing: 0px;
border-collapse: collapse;
width:100%;
background-color:#f6f6f8;
background-image:url(istnews_fond.png);
}

.ist-event-header-left{
background-image:url(istnews_border_left.png);
background-repeat:no-repeat;
background-position:left top;
width:20px;
height:60px;
}

.ist-event-header-center{
background-image:url(istnews_border_center.png);
background-repeat:repeat-x;
}

.ist-event-header-right{
background-image:url(istnews_border_right.png);
background-repeat:no-repeat;
background-position:right top;
width:46px;
}

.ist-event-title-content{
margin-top:-12px;
padding-left:20px;
}

.ist-event-content{
background-color:transparent;
}

.ist-event-title-link{
font-size:1.4em;
font-weight:bold;
text-align:left;
}
.ist-event-title-link a{
color:#7bcbc0;
}
.ist-event-title-link a:hover{
color:#3b8e85;
}

.ist-event-entete{
width:90%;
margin-left: 2em;
font-weight: bold;
}

.ist-event-info{
margin:15px 0px 5px 0px;
}

.ist-event-subject{
text-align:right;
font-size:0.8em;
color:#888;
}

.ist-event-rubrique{
font-size:0.9em;
font-variant:small-caps;
color:#5fb1a6;
}
.ist-event-description{
font-weight:bold;
}

.ist-event-footer-left{
height:26px;
background-image:url(istnews_border_inf_left.png);
}

.ist-event-footer-center{
background-image:url(istnews_border_inf_center.png);
}

.ist-event-footer-right{
background-image:url(istnews_border_inf_right.png);
}

#ist-event-auteur{
float:left;
font-size:0.8em;
color:#999;
}
#ist-event-add-calendar{
float:right;
font-size:0.8em;
width:100px;
}


/*** FORMULAIRE IST CONTACT ***/
#ist-form-contact{
margin-top:10px;
margin-left:2em;
}

#ist-form-contact div{
margin: 12px 0px;
}

#ist-form-contact label{
background-image:url(puce_bleue.gif);
background-repeat:no-repeat;
background-position:left center;
padding-left:10px;
color:#567184;
}



/**** SALLE DES PROFS ****/
article.ist-bloc-info{
float:left;
width:124px;
height:113px;
background-repeat:no-repeat;
background-position:left top;
}

article.ist-bloc-info a{
display:block;
width:120px;
height:113px;
cursor:pointer;
}

/* bloc sup*/
section#ist-sdp-bloc-sup{
margin:10px 0px;
}

article#ist-twee{
background-image:url(++theme++cesstex_ist.skin/images/ist_sdp_01_twee.jpg);
}

article#ist-agenda{
background-image:url(++theme++cesstex_ist.skin/images/ist_sdp_02_agenda.jpg);
}

article#ist-horaire-cours{
background-image:url(++theme++cesstex_ist.skin/images/ist_sdp_03_horaire_cours.jpg);
}

article#ist-periode-examen{
background-image:url(++theme++cesstex_ist.skin/images/ist_sdp_04_periode_examen.jpg);
}

article#ist-courrier-parent-eleve{
background-image:url(++theme++cesstex_ist.skin/images/ist_sdp_05_courrier_parent_eleve.jpg);
}

article#ist-docutheque{
background-image:url(++theme++cesstex_ist.skin/images/ist_sdp_06_docutheque.jpg);
}


/* BLOC CENTRE  */
section#ist-sdp-bloc-centre{
width:750px;
height:237px;
margin:10px 0px;
background-image:url(++theme++cesstex_ist.skin/images/ist_sdp_08_actu_du_moment.jpg);
background-repeat:no-repeat;
background-position:left top;
}

article.ist-bloc-info-center{
float:left;
height:237px;
}

article.ist-bloc-info-center a{
display:block;
height:237px;
cursor:pointer;
}

article#ist-actu_du_moment{
width:370px;
}

article#ist-actu_du_moment div{
margin-top:20px;
height:197px;
width:350px;
padding:0px 1px 4px 15px;
font-size:0.8em;
overflow:auto;
font-family:"mondaregular", sans-serif;
font-size:9pt;
color:#555;
}

article#ist-actu-breve-post-it div{
margin-top:20px;
margin-left:7px;
height:190px;
width:185px;
padding:4px 10px 4px 10px;
font-size:0.8em;
overflow:auto;
font-family:"desyrelregular", cursive;
font-size:14pt;
color:#555;
}

article#ist-reference-pedagogique{
float:left;
width:117px;
margin-left:38px;
background-image:url(++theme++cesstex_ist.skin/images/ist_sdp_09_reference_pedagogique.jpg);
background-repeat:no-repeat;
background-position:left top;
}

article.ist-bloc-info-center footer{
margin:3px 0px 0px 10px;
width:95%;
border-top:1px dotted #999;
}

article.ist-bloc-info-center footer a{
font-size:0.8em;
color:#999;
}

article.ist-bloc-info-center footer a:hover{
color:#f29400;
}


/* BLOC INF */
section#ist-sdp-bloc-inf{
margin:10px 0px;
}

article#ist-mode_emploi{
background-image:url(++theme++cesstex_ist.skin/images/ist_sdp_12_mode_emploi.jpg);
}

article#ist-instance{
background-image:url(++theme++cesstex_ist.skin/images/ist_sdp_13_instance.jpg);
}

article#ist-groupe-relais-equipe{
background-image:url(++theme++cesstex_ist.skin/images/ist_sdp_14_groupe_relais.jpg);
}

article#ist-bulletin{
background-image:url(++theme++cesstex_ist.skin/images/ist_sdp_15_bulletin.jpg);
}

article#ist-galerie{
background-image:url(++theme++cesstex_ist.skin/images/ist_sdp_16_galerie.jpg);
}

article#ist-amicale{
background-image:url(++theme++cesstex_ist.skin/images/ist_sdp_17_amicale.jpg);
}


/* bloc implantation */
section#ist-sdp-bloc-implantation{
margin:10px 0px 50px 0px;
}

article.ist-bloc-info-implantation{
float:left;
width:250px;
height:114px;
background-repeat:no-repeat;
background-position:center top;
}

article.ist-bloc-info-implantation div{
margin:auto;
margin-top:20px;
height:84px;
width:220px;
padding:0px 1px 4px 1px;
font-size:0.8em;
overflow:auto;
font-family:"mondaregular", sans-serif;
font-size:8pt;
color:#555;
}

article#ist-spd-manage-news{
background-image:url(++theme++cesstex_ist.skin/images/ist_sdp_19_ist_manage_news.jpg);
}

article#ist-sdp-la-louviere-news{
background-image:url(++theme++cesstex_ist.skin/images/ist_sdp_20_ist_lalouviere_news.jpg);
}

article#ist-sdp-cefa-manage-news{
background-image:url(++theme++cesstex_ist.skin/images/ist_sdp_21_cefa_manage_news.jpg);
}

article.ist-bloc-info-implantation footer{
margin:10px 0px 0px 10px;
width:220px;
border-top:1px dotted #999;
}

article.ist-bloc-info-implantation footer a{
font-size:0.8em;
color:#999;
}

article.ist-bloc-info-implantation footer a:hover{
color:#f29400;
}



/**** INFOS ELEVES PARENTS ****/
section#ist-info-eleve-parent-top-section footer{
margin:3px 0px 0px 10px;
width:95%;
border-top:1px dotted #999;
}

section#ist-info-eleve-parent-top-section footer a{
font-size:0.8em;
color:#999;
}

section#ist-info-eleve-parent-top-section footer a:hover{
color:#f29400;
}
