/*
Centre scolaire Saint-Exupéry
Made by Affinitic.be

CSS PORTLET
*/


/*** GESTION DES PORTLETS DANS PLONE-CONTRL-PANEL ***/
div#portletmanager-plone-leftcolumn.portlets-manager{
padding-left:8px;
}

div#portletmanager-plone-leftcolumn.portlets-manager div.managedPortlet.portlet div.portletHeader span.managedPortletActions {
display:block;
float:right;
width:200px;
}


div#portletmanager-plone-leftcolumn.portlets-manager div.managedPortlet.portlet div.portletHeader span.managedPortletActions form.portlet-action button{
float:right;
}

div#portletmanager-plone-leftcolumn.portlets-manager div.managedPortlet.portlet div.portletHeader{
height:40px;
}

/*** PORTLET IST ***/
#portlet-ist{
background-color:#DBF2FF;
border:1px solid #999; /*#0075d2;*/
padding:2px 0px 5px 0px;
margin-bottom:1.2em;
}

.portlet-header-ist{
font-weight:bold;
font-size:1.1em;
text-align:center;
}

div#portletHeaderGestionMembre{
height:31px;
color:#333;
text-shadow:1px 1px 1px rgba(250,250,250,0.8);
text-align:right;
line-height:31px;
padding-right:10px;
font-variant:small-caps;
font-weight:bold;
border-radius:8px 8px 0px 0px;
background:rgb(180,227,145);
}

div#portletItemGestionMembre{
background-color:rgba(232,255,225,0.5);
border-left:1px solid #b2d1ac;
border-right:1px solid #b2d1ac;
border-bottom:1px solid #b2d1ac;
border-radius:0px 0px 8px 8px;
padding:1em;
}

div#portletItemGestionMembre ul{
margin:0px;
}


/*** PORTLET ***/
.portlet {
width:95%;
margin:auto;
background-color:transparent;
border-bottom:none;
margin-bottom:1em;
}

.portletHeader {
border-top:1px solid #fff !important;
border-left:1px solid #fff !important;
border-right:1px solid #fff !important;
border-bottom:0px solid #fff !important;
height:20px;
background:#eaf8fc;
}

.portletHeader, .managedPortlet .portletHeader {
}

.portletHeader a {
color:#333;
font-weight:bold;
font-variant:small-caps;
}

.portletHeader a:hover {
color:#000;
}

dl.portlet.portletNavigationTree{
width:100%;
background-color:rgba(0, 255, 255, 0.08);
}

dl.portlet.portletNavigationTree .portletItem {
background-color:#f9fbff;
border-left:1px solid #f00;
border-right:1px solid #f000;
margin:0;
padding:5px 0px;
}

.navTreeItem a, dd.portletItem .navTreeItem a {
border-left:0px dotted rgba(255,255,255,0.1);
border-right:0px dotted rgba(255,255,255,0.1);
border-top:0px dotted rgba(255,255,255,0.1);
border-bottom:1px dotted #fff;
}

.portletFooterEvents {
background-color:none;
background-image:url(bg_footer_portlet.png);
background-repeat:no-repeat;
background-position:0px -45px;
border-left:none;
border-right:none;
border-bottom:none;
margin:0;
padding:0.25em 1em;
text-align:right;
border-left:none;
border-right:none;
border-top:1px dotted #8CACBB;
}


/*** PORTLET NAVIGARION ***/
dl.portlet.portletNavigationTree dt.portletHeader{
border-top:1px solid #fff !important;
border-left:1px solid rgba(255,255,255,1) !important;
border-right:1px solid rgba(255,255,255,0) !important;
border-bottom:1px dotted rgba(200,200,200,0.5) !important;
height:20px;
background:transparent;
text-align:right;
}

dl.portlet.portletNavigationTree dd.portletItem.lastItem,
dl.portlet.portletNavigationTree dd.portletFooter {
background:transparent none repeat scroll 0 0;
border:1px solid #555;
}

dl.portlet.portletNavigationTree dd.portletItem.lastItem,
dl.portlet.portletNavigationTree dd.portletFooter{
background:transparent;
border-left:1px solid rgba(255,255,255,1) !important;
border-right:1px solid rgba(255,255,255,0) !important;
border-top:1px solid rgba(255,255,255,0) !important;
border-bottom:1px solid rgba(255,2555,255,0);
}

.navTreeItem a,
dd.portletItem .navTreeItem a {
/*border-bottom:1px solid rgba(255,255,255,1);*/
display:block;
padding-bottom:0.3em;
padding-top:0.3em;
padding-left:3px;
text-decoration:none;
}

.navTreeItem a:hover,
dd.portletItem .navTreeItem a:hover,
.navTreeCurrentItem {
background-color:rgba(0, 255, 255, 0.1);
color:#006b7c !important;
}

dl.portlet.portletNavigationTree dd.portletFooter{
border-top:1px solid rgba(200,200,200,0) !important;
border-left:1px solid rgba(255,255,255,1) !important;
border-right:1px solid rgba(0, 255, 255, 0.05) !important;
border-bottom:1px solid rgba(255,255,255,1) !important;
height:17px;
background-color:transparent;
margin-top:-4px;
}


dl.portlet.portletSearch{
width:100%;
}


dl.portlet.portletSearch .portletHeader{
background-color:rgba(0, 255, 255, 0.05);
text-align:right;
border-top:1px solid rgba(255,255,255,1) !important;
border-left:1px solid rgba(255,255,255,1) !important;
border-right:1px solid rgba(0, 255, 255, 0.05) !important;
border-bottom:1px dotted rgba(200,200,200,0.5) !important;
}

dl.portlet.portletSearch dd.portletItem{
background-color:rgba(0, 255, 255, 0.05);
border-left:1px solid #fff;
border-right:1px solid rgba(0, 255, 255, 0.05);
margin:0;
padding:1em;
}

dl.portlet.portletSearch dd.portletFooter{
background-color:rgba(0, 255, 255, 0.05);
border-top:1px dotted rgba(200,200,200,0.5) !important;
border-left:1px solid rgba(255,255,255,1) !important;
border-right:1px solid rgba(0, 255, 255, 0.05) !important;
border-bottom:1px solid rgba(255,255,255,1) !important;
}

/***PORLET COLLECTION AGENDA***/
#agenda-footer{
width:187px;
margin-top:-6px;
margin-left:-8px;
}
.calendrier-footer{
text-align:left;
}

/*** CALENDAR ***/
.ploneCalendar {
border-bottom:1px solid #0075d2;
border-collapse:collapse;
border-spacing:0;
width:100%;
}
