/**
CSS pour CESSTEX
AFFINITIC avril 2014

style pour le sous-site ISM

**/

@font-face {
font-family: 'blairmd';
src: url('font/blairmditctt_medium-webfont.eot');
src: url('font/blairmditctt_medium-webfont.eot?#iefix') format('embedded-opentype'),
     url('font/blairmditctt_medium-webfont.woff') format('woff'),
     url('font/blairmditctt_medium-webfont.ttf') format('truetype'),
     url('font/blairmditctt_medium-webfont.svg#blairmditc_ttmedium') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'mondaregular';
src: url('font/monda-regular-webfont.eot');
src: url('font/monda-regular-webfont.eot?#iefix') format('embedded-opentype'),
     url('font/monda-regular-webfont.woff') format('woff'),
     url('font/monda-regular-webfont.ttf') format('truetype'),
     url('font/monda-regular-webfont.svg#mondaregular') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'lobster';
src: url('font/Lobster-webfont.eot');
src: url('font/Lobster-webfont.eot?#iefix') format('embedded-opentype'),
     url('font/Lobster-webfont.woff2') format('woff2'),
     url('font/Lobster-webfont.woff') format('woff'),
     url('font/Lobster-webfont.ttf') format('truetype'),
     url('font/Lobster-webfont.svg#lobster_1.4regular') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
    font-family: 'desyrelregular';
    src: url('font/desyrel-webfont.eot');
    src: url('font/desyrel-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/desyrel-webfont.woff2') format('woff2'),
         url('font/desyrel-webfont.woff') format('woff'),
         url('font/desyrel-webfont.ttf') format('truetype'),
         url('font/desyrel-webfont.svg#desyrelregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'crayonematernel';
    src: url('font/crayone-webfont.eot');
    src: url('font/crayone-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/crayone-webfont.woff2') format('woff2'),
         url('font/crayone-webfont.woff') format('woff'),
         url('font/crayone-webfont.ttf') format('truetype'),
         url('font/crayone-webfont.svg#crayoneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}