/**
CSS pour CESSTEX
AFFINITIC avril 2014

style pour le sous-site IST
HomePageFolderView
SalleDesProfs

**/

@import url("fonts.css");

body{
margin:0px;
padding:0px;
font-family:"Lucida Grande", verdana, arial, sans-serif;
color:#444;
background:rgb(35,83,138) !important; /* Old browsers */
background:-moz-linear-gradient(top,  rgba(35,83,138,1) 0%, rgba(167,207,223,1) 61%, rgba(167,207,223,1) 100%) !important; /* FF3.6+ */
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(35,83,138,1)), color-stop(61%,rgba(167,207,223,1)), color-stop(100%,rgba(167,207,223,1))) !important; /* Chrome,Safari4+ */
background:-webkit-linear-gradient(top,  rgba(35,83,138,1) 0%,rgba(167,207,223,1) 61%,rgba(167,207,223,1) 100%) !important; /* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top,  rgba(35,83,138,1) 0%,rgba(167,207,223,1) 61%,rgba(167,207,223,1) 100%) !important; /* Opera 11.10+ */
background:-ms-linear-gradient(top,  rgba(35,83,138,1) 0%,rgba(167,207,223,1) 61%,rgba(167,207,223,1) 100%) !important; /* IE10+ */
background:linear-gradient(to bottom,  rgba(35,83,138,1) 0%,rgba(167,207,223,1) 61%,rgba(167,207,223,1) 100%) !important; /* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#23538a', endColorstr='#a7cfdf',GradientType=0 ); /* IE6-9 */
}

.stop-float{
clear:both;
}
